<html>
    <head>
      <title>AngularJS Login Service</title>
    <!--  <script src="app/angular.min.js"></script> -->
    <!--  <script src="app/angular-cookies.min.js"></script> -->
    <!--  <script src="app/angular-route.min.js"></script>  -->
    <!--  <script src="app/restApp.js"></script>  -->
    <!--  <script src="app/LoginController.js"></script> -->
    <!--  <script src="app/authservice.js"></script> -->
    <!--  <link href="app/Style.css" rel="stylesheet" type="text/css" />  -->
    </head>
    <body>
    <div ng-form name="lform" ng-hide="logon">
            <h2>Signin, Please</h4>
            <div>
            <label for="username">Username:</label> 
            <input type="text" name="username" ng-model="username" required/>
            <span ng-show="lform.username.$dirty && lform.username.$error.required">Username is required</span>
            </div>
            <div>
            <label for="username">Password: </label> 
            <input type="password" name="password" ng-model="password" required/>
            <span ng-show="lform.password.$dirty && lform.password.$error.required">Password is required</span>
            </div>
            <button type="button" ng-click="login()">Login</button>
            <span>{{message}}</span>
    </div>
    <div ng-show="logon">
        <br>
        <button type="button" ng-click="logout()">Logout</button>
    </div>
    <div ng-hide="issigningup">
       <br>
       <button type="button" ng-click="regform()">Register new User</button>
       <br>
       <span>{{rmessage}}</span> 
    </div>
    <div ng-form name="rform" ng-show="issigningup">
      <h2>Register new User</h4>
      <div>
      <label for="username">Username:</label> 
      <input type="text" name="username" ng-model="newuser.UserName" required/>
      <span ng-show="rform.username.$dirty && rform.username.$error.required">Username is required</span>
      </div>
      <div>
      <label for="name">Name: </label> 
      <input type="text" name="name" ng-model="newuser.Name" required/>
      <span ng-show="rform.name.$dirty && rform.name.$error.required">Name is required</span>
      </div>  
      <div>
        <label for="roles">Choose roles: </label> 
        <input type="checkbox" name="admin" ng-model="roles[0]" required/>Admin
        <input type="checkbox" name="guest" ng-model="roles[1]" required/>Guest
        <span ng-show="(rform.admin.$dirty && rform.admin.$error.required) && (rform.guest.$dirty && rform.guest.$error.required)">Role is required</span>  
        </div> 
      <div>
      <label for="username">Password:</label> 
      <input type="password" name="password" ng-model="newuser.Password" required/>
      <span ng-show="rform.password.$dirty && rform.password.$error.required">Password is required</span>
      <br>
      <button type="button" ng-click="register()">Sign Up</button>
      </div>
   </div>
   <div>
    <div>
    <h4>List of Users</h4>
    <input type="checkbox" name="showAll" ng-model="showAll"/>Show all users
    <br>
    <span>Search users: </span>
    <input type="text" ng-model="findwords">
    </div>
    <table>  
        <tr ng-show="users!=undefined && users.length!==0"> 
            <th>ID</th> 
            <th>Username</th>  
            <th>Name</th>
            <th>Roles</th>
            <th>Edit</th>
            <th>Delete</th>     
        </tr>  
        <tr ng-repeat="u in users">
            <td>{{u.Id}}</td>  
            <td>{{u.UserName}}</td>  
            <td>{{u.Name}}</td>
            <th>{{u.Roles}}</th>
            <td><input type="button" value="Edit" ng-click="edit(u.Id)" /></td>
            <td><input type="button" value="Delete" ng-click="delete(u.Id)" /></td>   
        </tr> 
    </table>
    <button ng-click="getUsers()">Get Users</button>
    <br>
    <span>{{getmessage}}</span>
   </div>
   <div ng-form name="eform" ng-show="isediting">
    <h2>Edit User</h4>
    <div>
    <label for="username">Username:</label> 
    <input type="text" name="username" ng-model="edituser.UserName" required/>
    <span ng-show="eform.username.$dirty && eform.username.$error.required">Username is required</span>
    </div>
    <div>
    <label for="name">Name: </label> 
    <input type="text" name="name" ng-model="edituser.Name" required/>
    <span ng-show="eform.name.$dirty && eform.name.$error.required">Name is required</span>
    </div>  
    <div>
      <label for="roles">Define roles: </label> 
      <input type="checkbox" name="admin" ng-model="editroles[0]" required/>Admin
      <input type="checkbox" name="guest" ng-model="editroles[1]" required/>Guest
      <span ng-show="(eform.admin.$dirty && eform.admin.$error.required) && (eform.guest.$dirty && eform.guest.$error.required)">Role is required</span>  
      </div> 
    <div>
    <button type="button" ng-click="update()">Update User</button>
    </div> 
 </div>
   <div>
    </body>
    </html>