table, th , td {  
    border: 1px solid grey;  
    border-collapse: collapse;  
    padding: 5px;  
 }  
   
 table tr:nth-child(odd) {  
    background-color: #f2f2f2;  
 }  
   
 table tr:nth-child(even) {  
    background-color: #ffffff;  
 }

 button {
   background-color: #949090;
   color: white;
 }

 span {
   background-color: #f7ebeb;
   color: black;
 }
